{% extends "base.html"%}
{% block content %}

{{ckeditor.load()}}

<div class="row mt-5 mb-4">
    <div class="col">
        <h1 class="display-5 fw-bold ">Notes</h1>   
    </div>
    <div class="col d-flex align-items-center justify-content-end"> 
        <button type="button" class="btn btn-primary float-end addNote" data-toggle="modal" data-target="#newNote">
            <i class="fas fa-plus fa-lg"></i>
        </button>
    </div>
</div>
    <!-- Modal -->
<div class="modal modal-xl fade" id="newNote" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" >Add note</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
            </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <label for="title" class="mb-1">Title</label>
                    <textarea name="title" id="title" class="form-control mb-1" placeholder="Write something..." rows="1"></textarea>
                    
                    <label for="content" class="mb-1">Content</label>
                    {{ ckeditor.create() }}
                    {{ ckeditor.config(height=300) }}
                    
                    <br />
                    <div align="center">
                    </div>
                    <div class="modal-footer justify-content-between">                    
                        <p class="mr-auto">{{time}}</p>                                
                        <div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>  
                    </div>
                </form>
            </div>    
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-6 d-flex align-items-center">   
        <div class="dropdown me-2">
            <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 0.375rem">
                <i class="fa-solid fa-sort fa-lg" style="color: #aaa;"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="sortBy">
                <li>
                    <p class="ps-3 pe-3 pb-0 mb-0 text-muted">
                        Sort by
                    </p>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" onClick="sortNotes('date')">Date</a></li>
                <li><a class="dropdown-item" onClick="sortNotes('title')">Title</a></li>
                <li><a class="dropdown-item" onClick="sortNotes('none')">None</a></li>
            </ul>
        </div>          
        <div class="form-group has-search" role="search" style="width: 300px">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <span class="fa fa-search form-control-feedback"></span>
            <input type="search" placeholder="Search all" name="search" id="searchInput" class="myform searchbox-input deletable" onkeyup="buttonUp();">
        </div>    

            
    </div>
       
</div>

    <div class="d-flex no-result d-none justify-content-center">
            <h4 class="mt-5">No results found</h4>
    </div>

    <div class="row mb-5 grid" data-masonry='{"percentPosition": true }'> 
        {% for note in notes %}
        <div class="cardFrame col-xl-6 mt-3 col-md-12 card-deck">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-8">
                            <h5 class="card-title">{{note.title}}</h5>
                            <p class="text-muted">{{note.time.strftime("%B %d, %I:%M %p")}}</p>
                        </div>
                        <div class="col-4">
                            <div class="btn-group float-end">
                                <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 0.375rem">
                                    <i class="fa-solid fa-ellipsis fa-lg"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" onClick="editNote({{ note.id }})" data-target="#editNote"><i class="fas fa-edit me-3"></i> Edit</a></li>
                                    <li><a class="dropdown-item" onClick="duplicateNote({{ note.id }})"><i class="fa-solid fa-clone me-3"></i> Duplicate</a></li>
                                    <li><a class="dropdown-item" onClick="deleteNote({{ note.id }})"><i class="fa-solid fa-trash me-3"></i> Delete</a></li>
                                </ul>
                            </div>               
                        </div>
                    </div>
                    <p class="card-text">{{note.data | safe}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='notes.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

{% endblock %}

