{% extends "base.html"%}
{% block content %}

{{ckeditor.load()}}

<div class="row mt-5 mb-4">
    <div class="col">
        <h1 class="display-5 fw-bold ">Notes</h1>   
    </div>
    <div class="col d-flex align-items-center justify-content-end"> 
        <button type="button" class="btn btn-primary float-end addNote" data-toggle="modal" data-target="#newNote">
            <i class="fas fa-plus fa-lg"></i>
        </button>
    </div>
</div>
    <!-- Modal -->
<div class="modal modal-xl fade" id="newNote" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" >Add note</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
            </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <label for="title" class="mb-1">Title</label>
                    <textarea name="title" id="title" class="form-control mb-1" placeholder="Write something..." rows="1"></textarea>
                    
                    <label for="content" class="mb-1">Content</label>
                    {{ ckeditor.create() }}
                    {{ ckeditor.config(height=300) }}
                    
                    <br />
                    <div align="center">
                    </div>
                    <div class="modal-footer justify-content-between">                    
                        <p class="mr-auto">{{time}}</p>                                
                        <div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>  
                    </div>
                </form>
            </div>    
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <div class="form-group has-search" role="search">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <span class="fa fa-search form-control-feedback"></span>
            <input type="search" placeholder="Search all" name="search" id="searchInput" class="btn myform searchbox-input deletable" onkeyup="buttonUp();">
        </div> 
    </div>
       
</div>

    <div class="d-flex no-result d-none justify-content-center">
            <h4 class="mt-5">No results found</h4>
    </div>
    <div class="row mb-5 grid" data-masonry='{"percentPosition": true }'> 
        {% for note in user.notes %}
        <div class="col-xl-6 mt-3">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-8">
                            <h5 class="card-title">{{note.title}}</h5>
                            <p class="text-muted">{{note.time.strftime("%B %d, %I:%M %p")}}</p>
                        </div>
                        <div class="col-4">
                            <div class="btn-group float-end">
                                <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 0.375rem">
                                    <i class="fa-solid fa-ellipsis fa-lg"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#" onClick="editNote({{ note.id }})" data-target="#editNote"><i class="fas fa-edit me-3"></i> Edit</a></li>
                                    <li><a class="dropdown-item" href="#" onClick="duplicateNote({{ note.id }})"><i class="fa-solid fa-clone me-3"></i> Duplicate</a></li>
                                    <li><a class="dropdown-item" href="#" onClick="deleteNote({{ note.id }})"><i class="fa-solid fa-trash me-3"></i> Delete</a></li>
                                </ul>
                            </div>               
                        </div>
                    </div>
                    <p class="card-text">{{note.data | safe}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        var buttonUp = () => {
            const input = document.querySelector(".searchbox-input");
            const cards = document.getElementsByClassName("card");
            let filter = input.value
            var result = true;
            for (let i = 0; i < cards.length; i++) {
                let title = cards[i].querySelector(".card-body");
                if (title.innerText.indexOf(filter) > -1) {
                    cards[i].classList.remove("d-none")
                } else {
                    cards[i].classList.add("d-none")
                }
            }
            var grid = document.querySelector('.grid')
            var msnry = Masonry.data( grid )
            msnry.layout()

            for(let i = 0; i < cards.length; i++){
                if(cards[i].classList.contains("d-none")){
                    result = false;
                }else{
                    result = true;
                    break;
                }
            }
            if (!result) {
                document.querySelector(".no-result").classList.remove("d-none")
            } else {
                document.querySelector(".no-result").classList.add("d-none")
            }
        }
        
        document.getElementById('searchInput').addEventListener('input', (e) => {
            const cards = document.getElementsByClassName("card");
            if (e.currentTarget.value.length == 0 && e.currentTarget.value == "") {
                for(let i = 0; i < cards.length; i++){
                    cards[i].classList.remove("d-none")
                }
                var grid = document.querySelector('.grid')
                var msnry = Masonry.data( grid )
                msnry.layout()
                document.querySelector(".no-result").classList.add("d-none")
            }
          })

    </script>

    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

{% endblock %}

